@charset "utf-8";

body {
    background-color: #F3F3F3;
    color: #292625;
}
.Wrapper header {
    background-color: #292625;
}
header a img {
    width: 30%;
    height: auto;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 0px;
}

.Wrapper header h3 {
    margin-left: 40px;
}

.Wrapper nav {
    margin-left: 40px;
    margin-right: 40px;
}

.Wrapper main {
    margin-left: 40px;
    font-family: "CircularStd Book";
}



.Wrapper main h2 {

}

.Wrapper main h4 {

}
.Wrapper main p {
    margin-right: 0px;
    margin-left: 40px;
    min-width: 200px;
    max-width: 900px;

}
